* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.my_container {
    max-width: 1170px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.button_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border: 1.4px solid #F66F4D;
    border-radius: 27px;
    padding: 19px 34px;
    color: #F66F4D;
    background-color: transparent;
}

.button_1:hover {
    color: #ffffff;
    background-color: #F66F4D;
}

.tranisition_03 {
    transition: 0.3s ease-in-out all;
}

/* .a_underline::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 2px;
    background-color: #00EAC7;
    position: absolute;
    bottom: -10%;
    transition: all 300ms ease-in-out;
}

.a_underline:hover::after {
    left: 0;
    width: 100%;
    color: #00EAC7;
} */

.width_h1 {
    max-width: 577px;
}

.width_p {
    max-width: 500px;
}