* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.my_container {
    max-width: 1170px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.iconBox {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 1px solid var(--paragraph-color);
    border-radius: 50%;
    cursor: pointer;

}

.buttonHeader {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-medium);
    font-size: var(--fs-sm);
    line-height: 16px;
    text-align: center;
    border: 1.4px solid var(--danger-color);
    border-radius: 27px;
    padding: 10px 20px;
    color: var(--danger-color);
    background-color: transparent;
}

.buttonHeader:hover {
    border: 1.4px solid var(--danger-color);
    color: var(--primary-color);
    background-color: var(--danger-color);
}

.buttonHeader:hover span svg path {
    fill: #FAF8ED;
}

.w_50 {
    width: 90px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-75 {
    padding-top: 75px;
}

.iconBox:hover {
    border: 1px solid var(--danger-color);
}

.iconBox:hover svg path {
    fill: #F66F4D;
}

.newsLatter {
    min-height: 360px;
    background-color: var(--box-color);
    border-radius: 30px;
    background-image: url(../img/png/lines.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.max-w-450 {
    width: 450px;
    border-radius: 12px;
}

.telegram_Box {
    height: 40px !important;
    width: 40px !important;
    background: #F66F4D;
    box-shadow: 0px 5px 14px rgba(247, 103, 67, 0.25);
    border-radius: 12px;
    cursor: pointer;
}

input[placeholder="Enter Your email address"] {
    font-family: var(--ff-primary);
    font-weight: var(--regular);
    font-size: var(--fs-xs);
    color: #5B5F62;
    padding-left: 12px;
    padding-right: 12px;
    opacity: 0.4;
}

input[placeholder="Enter Your email address"]:focus {
    opacity: 1;
}

input[type="email"] {
    outline: none;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.br-14 {
    border-radius: 14px;
}

.p-32 {
    padding: 20px;
}










ul.containe {
    overflow: hidden;
}

ul.containe li {
    display: none;
}

ul.containe .active {
    display: block;
}

.button-container button {
    background-color: transparent;
    border: 1px solid #2D3134;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.button-container .right svg {
    margin-bottom: 4px;
    margin-right: 2px;
}

.button-container .left svg {
    margin-bottom: 4px;
    margin-left: 2px;
}

.button-container button:hover {
    background-color: #2D3134;
    border: 1px solid #2D3134;
}

.button-container button:hover svg path {
    stroke: #FFFFFF;
}

.button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#next {
    margin-left: 16px;
}


.line::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    max-width: 67px;
    top: -12px;
    background: linear-gradient(159.99deg, #FFD482 13.35%, #FFBE82 118.92%);
    box-shadow: 0px 2px 6px rgba(229, 137, 24, 0.15);
    border-radius: 4px;
    transition: 300ms;
}

.line-bottom::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
    background-color: var(--danger-color);
    transition: 0.5s;

}

.line-bottom:hover::after {
    width: 100%;

}

.footerLinks {
    transition: 300ms;
}

.footerLinks:hover {
    color: var(--danger-color);
    transition: 300ms;
}

.headerLinks {
    transition: 300ms;
}

.headerLinks:hover {
    color: var(--danger-color) !important;
    transition: 300ms;
}

.opcity_1:hover {
    opacity: 1 !important;
    transition: 500ms;
}

.opcity:hover .opcity_1 {
    opacity: 0.5;
    transition: 500ms;
}

.rectangel {
    background: #EE8162;
    border-radius: 245px;
    animation: spin 4s linear infinite;
}

.z-10 {
    z-index: 10 !important;
}

@keyframes spin {
    0% {
        background: #EE8162;
    }

    50% {
        background: var(--box-color);
    }

    100% {
        background: #EE8162;
    }
}

@media (max-width:767px) {
    label[for="iconBox"] {
        width: 30px;
        height: 22px;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    label[for="iconBox"]>span {
        width: 100%;
        height: 4px;
        background-color: var(--danger-color);
        transition: all ease-in-out;
        border-radius: 10px;
        z-index: 100 !important;
    }

    .sm-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        position: fixed;
        z-index: 8 !important;
        top: 0;
        left: -100%;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s linear;
        background-color: var(--primary-color);

    }

    input[type="checkbox"]:checked~div.sm-screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }



    input[type="checkbox"]:checked~.cente .to {
        transform: rotate(45deg);
        transform-origin: 3px;
    }

    input[type="checkbox"]:checked~.cente .mi {
        transform: scaleY(0);
    }

    input[type="checkbox"]:checked~.cente .bo {
        transform: rotate(-45deg);
        transform-origin: 1px;
    }
}

@media (min-width:576px) {
    .p-32 {
        padding: 32px;
    }

    .button-container {
        bottom: 32px;
        right: 32px;
    }

    .buttonHeader {
        border: 1.4px solid var(--danger-color);
        border-radius: 27px;
        padding: 19px 34px;
        color: var(--danger-color);
        background-color: transparent;
    }

    .w_50 {
        width: 120px;
    }
}

@media (min-width:768px) {
    .p-32 {
        padding: 20px;
    }

    .button-container {
        bottom: 20px;
        right: 20px;
    }

    .w_50 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .p-32 {
        padding: 33px;
    }

    .button-container {
        bottom: 33px;
        right: 33px;
    }
}