* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.my_container {
    max-width: 1170px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*///////////////    section 3   ////////////////// */

.card_1 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
    padding-top: 6px !important;
}

.h3_sec_3_One {
    color: #939597;
    max-width: 86px;
}

.Find_Popular_h2 {
    max-width: 400px;
}

.card_2 {
    background: #FAF8ED;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
    border-radius: 16px;

}
.px_12{
    padding-left: 12px;
    padding-right: 12px;
}
.pt_12{
    padding-top: 12px;
}
.border_redius_img{
    border-radius: 16px;
}