* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.my_container {
    max-width: 1170px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.button_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border: 1.4px solid #F66F4D;
    border-radius: 27px;
    padding: 19px 34px;
    color: #F66F4D;
    background-color: transparent;
}

.button_1:hover {
    color: #ffffff;
    background-color: #F66F4D;
}

.tranisition_03 {
    transition: 0.3s ease-in-out all;
}

/* .a_underline::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 2px;
    background-color: #00EAC7;
    position: absolute;
    bottom: -10%;
    transition: all 300ms ease-in-out;
}

.a_underline:hover::after {
    left: 0;
    width: 100%;
    color: #00EAC7;
} */

.width_h1 {
    max-width: 577px;
}

.width_p {
    max-width: 500px;
}

.width_p_2 {
    max-width: 370px;
}

.button_fixed {
    top: -153px;
    right: 0;
}

.card {
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 38px;
    padding: 20px 28px;

}

.white_line-1 {
    position: absolute;
    width: 48px;
    height: 0px;
    left: 178px;
    top: 41px;
    border: 1px solid #EAEAEB;
    transform: rotate(90deg);
}

/* .white-line-1::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 4px;
    background-color: white;
    left: 80%;
    top: -12px;
} */

/* .slider_arrow_right circle {
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

.slider_arrow_right path {
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}



.happy_customer_arrows:hover .slider_arrow_right {
    fill: #2D3134;
}

.happy_customer_arrows:hover .slider_arrow_right circle {
    stroke: #2D3134;
}

.happy_customer_arrows:hover .slider_arrow_right path {
    stroke: white;
} */

.visite_text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle {
    transition: 500ms ease-in;
    opacity: 0;
}

.imgHover_1 {
    opacity: 1;
    display: block;
    transition: 500ms ease-in;
    backface-visibility: hidden;
}

.imgHover:hover img {
    cursor: pointer;
    filter: grayscale(70%);

}


.imgHover:hover .middle {
    opacity: 1 !important;
    cursor: pointer;
}

@media (max-width:991.98px) {
    .card {
        max-width: 100%;
    }

    .margin_top_h {
        margin-top: 78px;
    }
}

@media (max-width:767.98px) {
    .white_line-1 {
        position: absolute;
        width: 48px;
        height: 0px;
        left: 178px;
        top: 41px;
        border: 1px solid #EAEAEB;
        transform: rotate(90deg);
        display: none;
    }

    .search_center {
        display: flex;
        justify-content: center;
    }

    .margin_top_search {
        margin-top: 16px;
    }
}

@media (max-width:575.98px) {
    .card {
        max-width: 100%;
    }

    .search_center_2 {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .gap_card {
        gap: 16px;
    }

    .margin_top_h {
        margin-top: 60px;
    }

    .button_fixed {
        top: -153px;
        right: 0;
    }
}